body {
    font-family: Arial, sans-serif;
    background: #14141459;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: rgb(80, 80, 80);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input, textarea {
    width:95%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #2e86de;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  